main.projWrap {
  display: block;
}

.projIntro {
  text-align: center;
  margin-bottom: 2.5rem;
  padding-left: .5rem;
}

.project {
  width: calc(33% - 1rem);
  display: inline-block;
  height: 25vh;
  max-width: 33%;
  position: relative;
  margin: .5rem;
  background-size: cover;
}

.projectEnd {
  text-align: center;
  margin: 5rem 0 1rem 0;
}

.project h4 {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: .5rem 1.5rem;
  margin: 0;
  background-color: #702c91;
  color: white;
}

.project:nth-of-type(1) {
  background: url(../../assets/turf-management-2.jpg) center center no-repeat;
  background-size: cover;
}
.project:nth-of-type(2) {
  background: url(../../assets/landscape-planning.jpg) center bottom no-repeat;
  background-size: cover;
}
.project:nth-of-type(3) {
  background: url(../../assets/retaining-walls-illinois-wisconsin.jpg) center center no-repeat;
  background-size: cover;
}
.project:nth-of-type(4) {
  background: url(../../assets/landscape-architecture.jpg) center center no-repeat;
  background-size: cover;
}
.project:nth-of-type(5) {
  background: url(../../assets/turf-management.jpg) center center no-repeat;
  background-size: cover;
}
.project:nth-of-type(6) {
  background: url(../../assets/turf-maintenance-2.jpg) center center no-repeat;
  background-size: cover;
}
.project:nth-of-type(7) {
  background: url(../../assets/landscape-maintenance.jpg) center center no-repeat;
  background-size: cover;
}
.project:nth-of-type(8) {
  background: url(../../assets/landscaping-illinois.jpg) center center no-repeat;
  background-size: cover;
}
.project:nth-of-type(9) {
  background: url(../../assets/landscaping-wisconsin.jpg) center center no-repeat;
  background-size: cover;
}
.project:nth-of-type(10) {
  background: url(../../assets/retaining-wall-wisconsin.jpg) center center no-repeat;
  background-size: cover;
}


@media screen and (max-width: 600px) {
  .project {
    width: calc(50% - 1rem);
    max-width: 50%;
  }
}
@media screen and (max-width: 425px) {
  .project {
    width: 100%;
    max-width: 100%; 
    margin: 0;
  }
}