footer {
  position: relative;
  background-color: white;
  display: flex;
  padding: 2.5rem 0 5rem 0;
  justify-content: center;
}

footer > div {
  width: 50%;
}

.footLogo {
  text-align: center;
}

.footLogo img {
  width: 15rem;
  margin-bottom: 1.5rem;
}

.footLogo p {
  margin-bottom: 0;
  color: rgb(25, 25, 25);
  font-size: 1.5em;
}

.footLogo p:first-of-type {
  margin-bottom: 1rem;
}

.footLinks {
  display: flex;
  justify-content: flex-start;
  padding-left: 5rem;
}

.footLinks ul {
  margin: 0;
  margin-top: 1rem;
  position: relative;
}

.footLinks ul::before {
  content: 'services';
  position: absolute;
  left: -7.5rem;
  top: 0;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: .1em;
  color: #702c91;
}

.footLinks ul:last-of-type::before {
  content: 'discover';
}

.footLinks ul:first-of-type {
  margin-right: 12.8vw;
}

.footLinks a {
  color: rgb(25, 25, 25);
  text-decoration: none;
}

.footLinks li {
  margin-bottom: .25rem;
  list-style: none;
}

.meta {
  position: absolute;
  width: 100%;
  padding: .25rem 2.5rem;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
}

.footLinks.purp a, .footLogo.purp p, .meta.purp {
  color: whitesmoke;
}
.footLinks.purp ul::before {
  color: #95ca36;
}
@media screen and (max-width: 900px) {
  footer {
    font-size: 14px;
  }

  .footLinks ul::before {
    left: 0;
    position: relative;
    top: initial;
    bottom: .75rem;
  }
}
@media screen and (max-width: 800px) {
  .footLinks {
    padding-left: 5vw;
  }
  .footLinks ul:first-of-type {
    margin-right: 9.2vw;
  }
}

@media screen and (max-width: 585px) {
  footer {
    flex-direction: column;
    align-items: center;
  }
  footer > div {
    width: initial;
  }
  .footLinks {
    width: 100%;
    justify-content: space-evenly;
    padding-left: 0;
    margin-top: 2.5rem;
  }
  .footLinks ul:first-of-type {
    margin-right: 0;
  }
}
